.action-button {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    display: flex; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-out;
}